
<footer class="text-white text-center text-lg-start" id="boilerFoot1">
  <!-- Grid container -->
  <div class="container p-4" id="boilerFoot2">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Titans Time</h5>

        <p>
            Titans Time is a show hosted by two brothers and lifelong Tennessee Titans fans 
            dedicated to bringing you their takes on the team. 
            The hosts of the TTP, Tyler and Tanner Staggs, might not always agree or have the best takes in hindsight, but you'll always leave entertained when you decide to click on the latest episode. 
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Useful Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="/faq" class="text-white">FAQ</a>
          </li>
          <li>
            <a href="/policy" class="text-white">Privacy Policy</a>
          </li>
        </ul>
      </div>

  <!-- Copyright -->
  <div class="text-center p-3 mt-3" style="background-color: #031632">
    © Titans Time
  </div>
  <!-- Copyright -->
</footer>